body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(53, 208, 132);
}

.custom-control-label {
    font-weight: 400;
}

.contenedor-formulario {
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.459);
    background-color: white;
    border-radius: 20px 10px 20px 10px;
    margin-bottom: 40px;
}

.title-brief {
    color: #2F277A;
    font-weight: bold;
    font-size: 50px;
}

input::placeholder {
    opacity: 0.3 !important;
}

textarea::placeholder {
    opacity: 0.3 !important;
}

/* Opciones de visualizaci칩n para el logotipo */
.mobile {
    display: none !important;
}

.desktop {
    display: flex !important;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex !important;
    }
}


/* Efectos para botones de la ventana principal */
#btnComunicacion {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnComunicacion:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

#btnDise침o {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnDise침o:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

#btnDesarrollo {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnDesarrollo:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

#btnBranding {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnBranding:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

#btnNaming {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnNaming:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

#btnFotografia {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnFotografia:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

#btnAudiovisual {
    background-color: rgb(47, 39, 122);
    border: 0px solid rgb(47, 39, 122);
    transition: all 0.2s ease-out;
}

#btnAudiovisual:hover {
    background-color: rgb(53, 208, 132);
    border: 0px solid rgb(53, 208, 132);
    transform: scale(1.1);
}

/* Estilos para formularios */
label {
    font-weight: bold;
}

.form-control:focus {
    border-color: rgb(47, 39, 122);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 30, 194, 0.6);
}

.form-select:focus {
    border-color: rgb(47, 39, 122);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 30, 194, 0.6);
}


.linea {
    border-top: 2px solid rgb(47, 39, 122);
    ;
    height: 30px;
    width: 100%;
    margin: 20px auto 0 auto;
}

/* Efectos para el bot칩n de Back to Top */
#Top {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #2f277a96;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    transition: 0.5s;
}

#Top:hover {
    background-color: #2f277a;
    /* Add a dark-grey background on hover */
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #2f277a !important;
}